<% content_for :javascript_includes do %>
  <%= javascript_include_tag "password_generator" %>
<% end %>
<h1>Edit Entry<%= link_to("Delete this entry", entry_path(@entry), :group_id => @entry.group_id, :method => "delete", 
					:class => "destroy icon remove", :confirm => "Are you sure?")%></h1>

<%= error_messages_for :entry %>

<% form_tag entry_url(@entry), :method => "put" do %>

	<%= render :partial => "form" %>

	<div class="message">
		<p><em>Note:</em> Leave password blank if you don't want to update it.</p>
	</div>

	<div class="buttons clear">
		<button type="submit" class="btn_update">Update</button>
		<a href="<%= home_path %>" class="btn_cancel cancel">Cancel</a>
	</div>

<% end %>

