<!-- .overlay_content -->
<div class="overlay_content">
	<div id="boxmenu">
		<h2>
			<%= @entry.group.title + ": <span>" + @entry.title + "</span>" %>
		
			<% if @entry.allows_write_access_for?(current_user) %>
			<em>(<a href="<%= edit_entry_url(@entry) %>">edit</a>)</em>
			<% end %>
		</h2>
	</div>
	
	<dl class="clear">
		<dt>Title:</dt>
		<dd><%=h @entry.title %></dd>

		<dt>Username:</dt>
		<dd><%=h @entry.username %></dd>

		<dt>Password:</dt>
    <dd id="password_container">
      <a href="javascript:void(0);">View</a>
    </dd>

		<% unless @entry.url.blank? %>
		<dt>Url:</dt>
		<dd><a href="<%=h @entry.url %>" target="target-new"><%=h @entry.url %></a></dd>
		<% end %>

		<% unless @entry.description.blank? %>
		<dt>Notes:</dt>
		<dd><%=h @entry.description %></dd>
		<% end %>
		
		<span class="hidden"><input value="<%= @entry.password %>"  id="hidden_password" class="hidden" /></span>
	</dl>

	<p>[Ctrl-C] or [Cmd-C] will copy the password to the clipboard.<br/>Click outside the box to close.</p>
</div>
